!!! 5
%html
  %head
  %title Olimpus
  %meta(charset="utf-8")
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link href='css/base.css' rel='stylesheet' type='text/css'>
  <link href='css/style.css' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin' rel='stylesheet' type='text/css'>

  %body
    .nd-main-bg.an-reveal-opacity.js-animation
      .container
        .nd-header.js-animation.an-reveal-down.delay03
          .nd-header-logo
            %a(href="index.html")
              %img(src="images/logo.svg")
          .nd-header-sign
            %a(href="http://steam.com")
              %img(src="images/sign.svg")
        .nd-hero-cont.js-animation.an-reveal-up.delay03
          .head 
            Win CS:GO skins by<br> simply guessing frags.
          .subhead Guess if it will be <strong>Terrorists or Counter-Terrorists</strong> to make the most frags during the next 20 seconds of Steam competitive matchmaking. Olimpus is monitoring 10,000 Steam servers to make it possible for you to play.
    
    #content
      .container
        .nd-header.nd-header_small.js-animation.an-reveal-opacity
          .nd-header-logo
            %a(href="index.html")
              %img(src="images/logo.svg")
          .nd-header-sign
            %a(href="http://steam.com")
              %img(src="images/sign.svg")
          .nd-header-menu 
            .nd-header-menu-one.active 
              %a(href="#2") How it works
            .nd-header-menu-one
              %a(href="#2") Demo
            .nd-header-menu-one
              %a(href="#2") Behind the scenes
        .nd-bighead.js-animation.an-reveal-down
          .head How it works
        .nd-third
          .nd-third-one.js-animation.an-reveal-up
            .img
              %img(src="images/add.svg")
            .head 
              1. Deposit skins
            .descr 
              First of all deposit skins from your Steam inventory to your Olimpus profile. That is easy and secure. 
          .nd-third-one.js-animation.an-reveal-up
            .img
              %img(src="images/team.svg")
            .head 
              2. Choose a side
            .descr 
              Choose what side you thing will make most frags during the next 30 seconds: Terrorists and Counter-Terrorists. 
          .nd-third-one.js-animation.an-reveal-up
            .img
              %img(src="images/trophy.svg")
            .head 
              3. Win amazing skins
            .descr 
              Win and withdraw the best skins after just 30 seconds of the game. Yes, Olimpus is that easy!
      .gray-bg
        .container
          .nd-bighead.js-animation.an-reveal-down
            .head Try demo
            .descr It is always easier to try things than to read about them. That is why we have made a demo version of Olimpus for you. Just choose a up or down and see if you can win.
          .nd-frame.js-animation.an-reveal-opacity
            .graph
            .nd-dialog
              .wrapper
                .nd-step.step1.active
                  .q Will the graph go up or down during the next 20 seconds?
                  .answers
                    .answers-one
                      .answ-btn.positive
                        %img(src="images/arrow.svg")
                      .answ-descr 
                        <strong>Terrorist</strong> will make most frags
                    .answers-one
                      .answ-btn.negative
                        %img(src="images/arrow.svg")
                      .answ-descr 
                        <strong>Counter-Terrorist</strong> will make most frags
                .nd-step.step2
                  .nd-youwin
                    .money $2200
                    .head Your guess was correct!
                    .descr You have just trippled your demo <br> stake with help of Olimpus.
                    %a.signup-btn(href="/signup") Sign Up

              %aside.aside
                .nd-graph-stats
                  .nd-graph-stats-one
                    .nd-graph-stats-name Start
                    .nd-graph-stats-val $500
                  .nd-graph-stats-one
                    .nd-graph-stats-name coefficient
                    .nd-graph-stats-val 82%
                  .nd-graph-stats-one
                    .nd-graph-stats-name POTENTIAL WIN
                    .nd-graph-stats-val $2200




      .container
        .graph-push
        .nd-bighead.js-animation.an-reveal-down
          .head Behind the scenes
          .descr We would like to share with you the details behind Olimpus’ team afford in to making the first & the best possible service in the world.
        .nd-third
          .nd-third-one.js-animation.an-reveal-up
            .img
              %img(src="images/tuda-suda.svg")
            .head 
              1. Deposit skins
            .descr 
              First of all deposit skins from your Steam inventory to your Olimpus profile. That is easy and secure. 
          .nd-third-one.js-animation.an-reveal-up
            .img
              %img(src="images/steam.svg")
            .head 
              2. Choose a side
            .descr 
              Choose what side you thing will make most frags during the next 30 seconds: Terrorists and Counter-Terrorists. 
          .nd-third-one.js-animation.an-reveal-up
            .img
              %img(src="images/techsup.svg")
            .head 
              3. Win amazing skins
            .descr 
              Win and withdraw the best skins after just 30 seconds of the game. Yes, Olimpus is that easy!
        .accepteing.js-animation.an-reveal-down.delay03
          .accept-wrap
            .cont
              %img(src="images/weapons.png")
              .descr
                Accepting Steam CS:GO <br>inventory items
    .graph-bottom.js-animation.an-reveal-up
      .nd-footer
        .container 
          .nd-footer-copy OLUMPUS © 2015. POWERED BY STEAM.
          .nd-footer-menu
            .nd-footer-menu-one
              %a(href="faq.")F.A.Q.
            .nd-footer-menu-one
              %a(href="faq.")Support
            .nd-footer-menu-one
              %a(href="faq.")Terms





        
      
    
  <!-- Yandex.Metrika counter --><script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter32337740 = new Ya.Metrika({ id:32337740, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="https://mc.yandex.ru/watch/32337740" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->
  %script(src="//code.jquery.com/jquery-1.11.2.min.js")
  %script(src="js/plugins.min.js")
  %script(src="js/script.js")